In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [4]:
echo_message = pd.read_csv("can_log.csv", delimiter = ",")
echo_message

         Timestamp Atribration_id  dlc              data
0     1.757375e+09     0x18820810    5        020a016f09
1     1.757375e+09     0x18820810    3            070101
2     1.757375e+09     0x18820810    8  102045204f464620
3     1.757375e+09     0x18820810    4          00202000
4     1.757375e+09     0x18820810    5        0200007a20
...            ...            ...  ...               ...
3748  1.757375e+09     0x19000410    3            071fff
3749  1.757375e+09     0x19000410    3            101fff
3750  1.757375e+09     0x18820810    1                12
3751  1.757375e+09     0x19000410    3            121fff
3752  1.757375e+09     0x18820810    5        020a016f09

[3753 rows x 4 columns]

In [7]:
echo_message.head(10)

      Timestamp Atribration_id  dlc              data
0  1.757375e+09     0x18820810    5        020a016f09
1  1.757375e+09     0x18820810    3            070101
2  1.757375e+09     0x18820810    8  102045204f464620
3  1.757375e+09     0x18820810    4          00202000
4  1.757375e+09     0x18820810    5        0200007a20
5  1.757375e+09     0x18820810    5        02010c3b09
6  1.757375e+09     0x18820810    3            070101
7  1.757375e+09     0x19000410    3            021fff
8  1.757375e+09     0x18820810    8  10506d702020302e
9  1.757375e+09     0x18820810    4          00302500

In [17]:
unique_id, id_counts = np.unique(echo_message['Atribration_id'], return_counts = True)
print(unique_id)
print(id_counts)

['0x18820810' '0x19000410']
[1877 1876]

In [18]:
unique_dlc, dlc_counts = np.unique(echo_message['dlc'], return_counts = True)
print(unique_dlc)
print(dlc_counts)

[1 2 3 4 5 6 8]
[  30  142 2302  213  640  142  284]

In [19]:
unique_data, data_counts = np.unique(echo_message['data'], return_counts = True)
print(unique_data)
print(data_counts)

['00202000' '0020312000' '00302500' '00f84300' '0200007a20' '02010c3b09'
 '0201163b09' '020a016f09' '021fff' '023e0c3b09' '070101' '070202'
 '071fff' '0a0000000901' '0a00003b0001' '0a1fff' '0d00' '0d01' '0d1fff'
 '101e00' '101fff' '102045204f464620' '1020506b20202020'
 '10506d702020302e' '1074202020302e30' '12' '121fff']
[ 71  71  71  71 284  71  71  72 568  71 284  71 355  71  71 142  71  71
 142  71 639  71  71  71  71  30  30]

In [20]:
"""
So looking at the data, it seems that both the controller and the laser are communicating with each other and constantly echoing messages
on the CAN bus line. Since there are two atribution ids, it means that are two devices on the bus system. Must figure out which is which.
Once we figure out which is which, we can mimik the controller and send messages from the PiCAN hat.
"""

'\nSo looking at the data, it seems that both the controller and the laser are communicating with each other and constantly echoing messages\non the CAN bus line. Since there are two atribution ids, it means that are two devices on the bus system. Must figure out which is which.\nOnce we figure out which is which, we can mimik the controller and send messages from the PiCAN hat.\n'